<section class="about-section">
    <div class="panel-div">
        <h5 class="panel-heading">Search Component</h5>
        <app-search-input></app-search-input>        
    </div>

    <div class="panel-div">
       <h1> MyGuide by EdCast Digital Adoption Platform for</h1>
        <h3>In-App Guidance, Insights, and Automation</h3>
        <button class="btn btn-purple demo-btn" (click)="openNewTab()">Schedule A Demo</button>
    </div>   
    
    <div class="panel-div" *ngIf="isPopupWindow()">
        <h4>
            This is a testing window for extension,
            To close this window please click on the button below.
        </h4>
       <button class="btn  btn-purple demo-btn" (click)="closeWindow()">Close</button>
    </div>
</section>