.buttons-section{
    display: inline-block;
    margin: 20px auto;
    width: 100%;
    .buttons {
        display: flex;
        justify-content: space-around;   
    
        .btn {
            min-width: 200px;
            color: #38b6a0!important;
            border:1px solid #38b6a0;
            background-color: white;
        }
    }
}