<section class="portal-section">
    <div class="panel-div">
        <h5 class="panel-heading">Search Component</h5>
        <app-search-input></app-search-input>
    </div>

    <div class="panel-div">
        <h5 class="panel-heading">Dropdown Component</h5>
        <app-dropdown></app-dropdown>
    </div>

    <div class="panel-div">
        <h5 class="panel-heading">Button Component</h5>
        <app-buttons></app-buttons>
    </div>

    <div class="panel-div">
        <h5 class="panel-heading">Table Component</h5>
        <app-table></app-table>
    </div>

    
</section>