<section class="portal-section" id="portal_section">
    <div class="panel-div" id="searchComponent">
        <h5 class="panel-heading">Search Component</h5>
        <app-search-input elemID="portal_search"></app-search-input>
    </div>

    <div class="panel-div" id="dropdownComponent">
        <h5 class="panel-heading">Dropdown Component</h5>
        <app-dropdown></app-dropdown>
    </div>

    <div class="panel-div" id="buttonComponent">
        <h5 class="panel-heading">Button Component</h5>
        <app-buttons></app-buttons>
    </div> 
    
    <div class="panel-div" id="modalComponent">
        <h5 class="panel-heading">Modal Component</h5>
        <app-modals></app-modals>
    </div>

    <div class="panel-div" id="tableComponent">
        <h5 class="panel-heading">Table Component</h5>
        <app-table></app-table>
    </div>

    <div class="panel-div" id="formComponent">
        <h5 class="panel-heading" >Form Component</h5>
        <app-form formID="portal_form"></app-form>
    </div>
        
    <div class="panel-div" id="iframeComponent">
        <h5 class="panel-heading">Iframe Component</h5>
        <app-iframes></app-iframes>
    </div>
</section>
