.padding-LR-30{
    padding: 0 30px;
}

.rowHeight{
    height: 30px;
    line-height: 2;
}

.headingRow{
    font-weight: 600;
    background-color: #767792;
    color: white;
    height: 40px;
    /* line-height: 3; */
    padding-top: 6px;
}

.table-body-div{
    height: 300px;
    overflow-y: auto;
}