.about-section{
    min-height: calc(100vh - 50px);
    padding-bottom: 50px;

    .panel-div{
        margin: 10px 30px;
        background-color: white;
        padding: 10px 20px;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: grid;

        .panel-heading{
            background-color: #aaabc9;
            padding: 11px 20px;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
        }

        .demo-btn{
            max-width: 200px;
            margin: 0 auto;
        }

        [contenteditable] {
            border: 1px solid #b8b8bb;
            border-radius: 4px;
            padding: 15px 20px;
            outline: 0;
        }          
    }
}