.iframe-style{
    width: 100%;
    padding:5px;
    background-color: #efefef;
    border-radius: 4px;
}

.frame-title {
    background-color: #efefef;
    padding: 6px 20px;
    border-radius: 4px;
    margin: 20px auto;
}