.selectList {
    width: 150px;
    padding: 5px;
    margin: 10px;
}

.bootstrapDropDown {
    padding: 5px;
    margin: 10px;
    width: 200px;

}

.dropdown-menu {
    top: 90px!important;
    left: 135px!important;
    width: 200px!important;
    transform: translate3d(0px, -0px, 0px)!important;
}