.selectList {
    width: 150px;
    padding: 5px;
    margin: 10px;
}

.bootstrapDropDown {
    padding: 5px;
    margin: 10px;
    width: 200px;

}

.dropdown-menu {
    top: 90px;
    left: 135px;
    width: 200px;
}