
<div class="fluid-container">
    <h5 class="frame-title"> Embedded Video Iframe: </h5>
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/-UqqYmYVXLc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- <div class="fluid-container">
    <h5 class="frame-title"> wikipedia Iframe: </h5>
    <iframe class="iframe-style" src="https://fr.wikipedia.org/wiki/Main_Page" height="480" frameborder="0"></iframe>
</div> -->
<div class="fluid-container" *ngIf="showIframe">
    <h5 class="frame-title">Inbuilt Iframe: </h5> 
    <div class="displayFlex" style="justify-content: space-around;">
        <iframe class="iframe-style" [src]="iFrameUrl" height="300" width="45%" id="{{iframe_id}}_FirstIframe" frameborder="0"></iframe>
        <iframe class="iframe-style" [src]="iFrameUrl" height="300" width="45%" id="{{iframe_id}}_SecondIframe" frameborder="0"></iframe>
    </div>    
</div>