.info-form{
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e6e4e4;
    background-color: #efefef;
    border-radius: 4px;
    display: grid;

    .marginRight-10{
        margin-right: 10px;
    }

    .add-alias{
        border-radius: 4px;
        border: none;
        color: white;
        font-size: 14px;
        padding: 5px 20px;
        height: 35px;
    }

    .add-save{
        border-radius: 4px;
        border: none;
        color: white;
        font-size: 14px;
        padding: 5px 20px;
        float: right;
        height: 35px;
    }
}

