
<div class="col-lg-12 row marginTB-10">
    <button class="btn modalBtn" id="htmlModalBtn" (click)="openModal('htmlModal')">Open HTML Modal</button>
    <div id="htmlModal" class="modal">
        <div class="modal-content modalContent">
            <div class="modal-header">
                <span class="close" (click)="closeModal('htmlModal')">&times;</span>
                <h3>Modal Title</h3>
            </div>
            <div class="modal-body">
                <div class="searchComponent">
                    <app-search-input elemID="modal_search"></app-search-input>
                </div>
                <div class="formComponent">
                    <app-form *ngIf="loadForm"></app-form>
                </div>
            </div>
        </div>
    </div>
</div>



