<section class="siteLayout">
    <div class="displayBlock width-100-percent height50 navbar-div" id="navbar_div">
        <span class="automation-portal-title">Automation Portal</span>
        <ul class="nav navbar-nav displayBlock" id="navbar_ul">
            <li class="active" id="home"><a href="#">Home</a></li>
            <li id="about"><a href="#about">About</a></li>
            <li class="dropdown" id="services">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="true"> <span class="nav-label">Services</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Service A</a></li>
                    <li><a href="#">Service B</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="displayFlex">
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm nopadding">
                <!-- <div class="navbar-header">
                    <button class="navbar-toggler navbar-menuBtn" type="button" data-toggle="collapse"
                        data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                </div> -->
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <div class="sidenavHeight">
                        <ul class="nav navbar-nav navList">
                            <li *ngFor="let optns of leftPanelList; index as i" id="list_{{i}}">
                                <span>{{optns.key}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </aside>
        <div id="right-panel" class="right-panel">
            <router-outlet></router-outlet>
            <div class="footer">
                <p class="pull-left">Copyright © - MyGuide by EdCast.</p>
                <p class="pull-right">Need any help, please mail us at
                    <b>
                        <a href="mailto:support@edcast.com" class="supportLink">support@edcast.com</a>
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>

