
body {
    background-color: #f1f2f7;
    overflow-x: hidden;
    margin: 0px;
}

$displays: (
    "Flex": flex!important,
    "Block": block!important,
    "None": none,
    "InlineFlex": inline-flex,
    "Initial": initial,
    "Inline": inline,
    "Content": contents,
    "InlineBlock": inline-block,
    "Inherit": inherit,
    "Grid": grid,
);
@each $name, $dis in $displays {
    .display#{$name} {
        display: $dis;
    }
}


$heights: 0, 10, 50, inherit;
@each $height in $heights {
    .height#{$height} {
        @if $height==inherit {
            height: inherit !important;
        } @else {
            height: #{$height}px !important;
        }
    }
}

.width-100-percent{
    width: 100%;
}

