<section class="portal-section" id="portal_section">
    <div class="panel-div" id="searchComponent">
        <h5 class="panel-heading">Load Testing</h5>
        <div class="">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 iframe-div" *ngFor="let data of iframe_links">
                <iframe width="100%" height="400" [src]="data.link" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</section>
